version: "3.9"

services:
  backend:
    build: ./backend
    container_name: quiz-backend
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      JWT_SECRET: supersecret
      DB_HOST: host.docker.internal
      DB_USER: root
      DB_PASSWORD: 123456
      DB_NAME: quiz_app
    restart: unless-stopped

  frontend:
    build: .
    container_name: quiz-frontend
    ports:
      - "3000:80"
    environment:
      REACT_APP_API_URL: http://localhost:5000
    depends_on:
      - backend
    restart: unless-stopped
